@import 'fonts';

$body:            #b9a1a8;
$cardBody:        #e7e7e8;
$buttonColor:     #9d7c87;
$buttonHover:     #432b33;
$navHead:         #555660;
$explicit:        #f60102;

$headerFont:      'Chicle', cursive;
$musicFont:       'Yatra One', cursive;
$topTenFont:      'Arya', sans-serif;
$trackFont:       'Maven Pro', sans-serif;
